<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">
        Moviesearch
      </span>
    </div>
  </div>
</nav>
