<div class="media" *ngFor="let movie of movies" (click)="onSelect(movie)">
  <div class="media-left">
    <img class="media-object" [src]="movie.poster" *ngIf="movie.poster">
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ movie.title }}</h4>
    Release Date: {{ movie.releaseDate }}
  </div>
</div>
<div class="well" *ngIf="!movies.length">
  No movies availible!
</div>
